$color-heading: #2f281e;
$color-header: #383e4e;
$color-hovered: #ff9900;
$color-visit: #ff7549;
$color-background: #f1f1f1;
$color-navigation: #e7e3e3;
$color-contacts: #4d6f77;
$color-link: #65aae2;

$content-width: 994px;
