.projects__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}

.projects__item {
  margin-top: 10px;
  padding: 5px 5px;
}

.project__image {
  vertical-align: middle;
  margin-right: 5px;
}

.projects__link {
  padding: 5px;
  margin: 5px 0px;
  color: $color-contacts;
  @include font($size: 2.2rem, $height: 2.4rem, $weight: 700);
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;

  &:hover {
    color: $color-hovered;
    @extend %transition;
    background-size: 100% 2px;
  }
}
