.container {
  max-width: 1440px;
  margin: 0 auto;
}

.body__container {
  max-width: 1440px;
}

.header__container {
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 2fr;

  @include media-tablet {
    display: flex;
    flex-direction: column;
  }
}

.code__container {
  display: flex;
  flex-direction: column;
  background-color: $color-navigation;
}
